h1{
    font-size: 24px;
}
main{
    width: 60%;
    display: flex;
}
.section_left{
    width: 80%;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.products p{
    margin: 10px 0 10px 0;
}
.bananaSEMAX{
    width: 350px;
}
.main{
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    /* width: 65px; */
}
.main:hover{
    background-color: red;
    transition: 0.4s;
    cursor: pointer;
}
/* --------- */
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 400px;
}
.right input{
    display: none;
}
.img_like, .price, .img_carting{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    width: 90px;
}
.img_like, .img_carting{
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
}
.left{
    display: flex;
}
.foto{
    width: 150px;
}
.otzuvu{
    margin: 10px;
    background-color: #F4F4F4;
    width: 155px;
    border-radius: 2px;
}
.buy{
    height: 200px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 38px;
}
.buy .text{
    margin: 10px;
    align-self: flex-start;
}
.buy div{
    display: flex;
    justify-content: space-between;
    width: 80%;
}