h1{
    font-size: 24px;
}

main{
    width: 80%;
}

.Сatalog{
    display: flex;
    flex-direction: column;
}

.carts{
    display: flex;
}

.cart1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.cart1 img{
    width: 200px;
    position: absolute;
}

.cart1 .text{
    font-size: 16px;
    font-family: Unbutu bold;
    margin-top: 80%;
}

.category{
    display: flex;
    flex-direction: column;
}

.popular{
    display: flex;
}

.popular__product {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.popular__product img {
    width: 150px;
    max-height: 150px;

}
.popular__inf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news{
    display: flex;
    flex-direction: column;
}