h1{
    font-size: 24px;
}
main{
    width: 60%;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.products p{
    margin: 10px 0 10px 0;
}
.bananaSEMAX{
    width: 250px;
}
.main{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.main:hover{
    background-color: red;
    transition: 0.4s;
    cursor: pointer;
}