h1{
    font-size: 24px;
}
main{
    width: 60%;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}
.products p{
    margin: 10px 0 10px 0;
    font-weight: bolder;
    font-size: 20px;
}
.bananaSEMAX{
    width: 250px;
}

.main{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.main:hover{
    background-color: red;
    transition: 0.4s;
    cursor: pointer;
}
/* --------- */
.fill{
    display: flex;
    justify-content: space-between;
}

.fillt{
    width: 250px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.fillt button{
    color: black;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

button:hover{
    background-color: grey;
    cursor: pointer;
}

.fillt__but{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 400px;
}
.right input{
    display: none;
}
.img_like, .price, .img_carting{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.img_like, .img_carting{
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
}
.left{
    display: flex;
}
.foto{
    width: 150px;
}
.otzuvu{
    margin: 10px;
    background-color: #F4F4F4;
    width: 155px;
    border-radius: 2px;
}