@font-face {
    font-family: 'Unbutu regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Unbutu bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    transition: all .2s linear;
    font-family: Unbutu regular;
}
html,
body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 80%;
    display: flex;
    background-color: black;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
header div{
    display: flex;
    align-items: center;
    text-align: center;
}
header a{
    color: white;
}
main{
    flex: 1 0 auto;
}
.main-logo{
    width: 35px;
}
.a-logo, #label-search, .catalog{
    margin: 10px 20px 10px 20px;
}
.a-logo{
    margin-left: 40px
}
.catalog{
    border: solid 1px white;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    font-size: 24px;
}
#label-search, #search, .lupa{
    cursor: pointer;
}
#label-search{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}
#search{
    font-size: 16px;
    margin: 5px;
    border: none;
}
.lupa{
    margin: 5px;
    border: none;
    background-color: white;
    background-image: url(../images/lupa.png);
    background-size: 25px;
    height: 28px;
}
.a-favourites, .a-cart, .a-profil{
    margin: 10px;
}
.a-favourites p, .a-cart p, .a-profil p{
    font-family: Unbutu bold;
}
.lupa, .favourites, .cart, .profil{
    width: 25px;
}
.favourites{
    height: 20px;
    padding: 5px 0 5px 0;
}
.cart{
    height: 24px;
    padding: 3px 0 3px 0;
}
.profil{
    height: 30px;
    padding-top: 0px;
}
.a-profil{
    margin-right: 40px;
}
/* ----------------- */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #121212;
    width: 100%;
    color: white;
    flex: 0 0 auto;
}
footer img{
    width: 25px;
}
footer section{
    margin: 20px;
}
.youtube{
    padding: 4px 0 3px 0;
}
.qr-code{
    width: 100px;
    height: 100px;
}