main{
    width: 300px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}
main a{
    color: black;
}
.login{
    margin-bottom: 20px;
}
.login a{
    font-size: 20px;
}
.a-login{
    padding: 0 51px 10px 51px;
    border-bottom: solid 2px black;
}
.a-registration{
    padding: 0 14px 10px 14px;
    border-bottom: solid 1px gray;
}
form{
    display: flex;
    flex-direction: column;
}
form label{
    margin: 5px;
}
input[type="button"]{
    margin: 10px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}
#name, #password{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px gray;
}
.back{
    width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-top: solid 1px gray;
}