main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
div[class^="block"]{
    width: 100px;
    box-shadow: 0 0 10px 1px #000000;
    border: solid 1px black;
    border-radius: 15%;
    padding: 10px;
}