main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.block[calss^="block"]{
    box-shadow: 1px 1px 0 0 #000000;
}