main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
div[class^="block"]{
    width: 100px;
    box-shadow: 0 0 10px 1px #000000;
    border: solid 1px black;
    border-radius: 7%;
    padding: 10px;
}

.block1{
    height: 170px;
}

footer{
    position: relative;
}
.m1{
    display: contents;
}

section{
    margin: 3%;
}

.do{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 10px;
    width: 80%;    
}
.carts{
    display: flex;
}

.cart1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px 1px #000000;
    border-radius: 7%;
    margin: 10px;
    padding: 10px;
}
.text{
    color: black;
}
.foto{
    width: 100%;
}
.many{
    display: flex;
    justify-content: space-around;
}

.like, .price, .carting{
    width: 50px;
    height: 30px;
    box-shadow: 0 0 10px 1px #000000;
    border-radius: 10px;
    border: none;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}
h1{
    font-size: 32px;
    align-self: start;
    margin: 0 200px;
}