main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
div[class^="block"]{
    width: 100px;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 15px;
    padding: 10px;
    height: 170px;
}
.block1{
    background-image: url(../images/green.png);
    background-size: contain;
}
.block2{
    background-image: url(../images/blue.png);
    background-size: contain;
}
.block3{
    background-image: url(../images/pink.png);
    background-size: contain;
}
.block4{
    background-image: url(../images/orang.png);
    background-size: contain;
}
.block5{
    background-image: url(../images/yellow.png);
    background-size: contain;
}
footer{
    position: relative;
}
.m1{
    display: contents;
}
section{
    margin: 10px;
}
.do{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 10px;
    width: 80%;    
}
.carts{
    display: flex;
}

div[class^="product"]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 5px 0px gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.text{
    color: black;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto{
    width: 80%;
}
.many{
    display: flex;
    justify-content: space-around;
}
.many input{
    display: none;
}
.img_like, .price, .img_carting{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px black;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #383838;
    color: white;
}
.img_like, .img_carting{
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
}
h1{
    font-size: 32px;
    align-self: start;
    margin: 0 200px;
}

button{
    border: none;
}