main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
div[class^="block"]{
    width: 100px;
    box-shadow: 0 0 10px 1px #000000;
    border: solid 1px black;
    border-radius: 7%;
    padding: 10px;
}

.block1{
    height: 170px;

}

footer{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.m1{
    display: contents;
}

section{
    margin: 3%;
}

h1{
    color: black;
    font-size: 45px;
}

.do{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 20px;
    
    
}
.carts{
    display: flex;
}

.cart1{
    align-items: center;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px 1px #000000;
    border-radius: 7%;
    margin: 5%;
    padding: 1%;
}

.foto{
    width: 100%;
    height: 150px;
    background-color: aqua;
}

.many{
    display: flex;
    justify-content: space-around;
}

.much{
    width: 50px;
    height: 30px;
    box-shadow: 0 0 10px 1px #000000;
    border-radius: 7%;
}

.like{
    width: 50px;
    height: 30px;
    box-shadow: 0 0 10px 1px #000000;
    border-radius: 7%;

}

.corz{
    width: 50px;
    height: 30px;
    box-shadow: 0 0 10px 1px #000000;
    border-radius: 7%;

}