h1{
    font-size: 40px;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
   
}

.information{
    display: flex;
}

.icon{
    width: 800px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    margin: 15px;
}

.inf{
    display: flex;
    flex-direction: column;
}

.inf__spec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    margin: 15px;
    width: 420px;
    height: 180px;
    padding: 20px;
}

.inf__icon{
    display: flex;
    justify-content: space-between;
}

.icon1{
    width: 300px;
}

.icon2{
    width: 50px;
}

.star{
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;

}

.many{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    margin: 15px;
    width: 420px;
    height: 180px;
    padding: 20px;
}

.rub{
    background-color: rgba(116, 116, 116, 0.3);
    padding: 10px;
    border-radius: 8px;
}

.inf__spec p{
    color: black;
    font-weight: bolder;
}

.click{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buy{
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
    font-size: 20px;
    margin-right: 10px;
}

.buy:hover{
    background-color: red;
    cursor: pointer;
}

.like{
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 8px;
}

.like:hover{
    cursor: pointer;
}

.image{
    width: 25px;
}

.text{
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 8px;
    

}


.specification{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    
}

.spec{
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    height: 100px;

}

.reviews{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    
}

.pole{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.reviews__text{
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    padding: 15px;
    width: 100%;

}

textarea{
    box-shadow: 0 0 10px 1px gray;
    border-radius: 8px;
    width: 100%;
    margin-right: 30px;

}