main{
    width: 65%;
}
/* ------------------- */
.top, .bot{
    box-shadow: 0 0 5px 0px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.foto{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.foto img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.foto h1{
    margin-bottom: 15px;
}
/* ------------------- */
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.data label, .data input{
    background-color: lightgray;
    margin: 10px;
    border-radius: 10px;
}
.data input{
    padding: 5px;
    width: 28.5vw;
    border: none;
}
/* ------------------- */
.button{
    display: flex;
    justify-content: space-between;
}
#save, #exit, #delete{
    background-color: lightgrey;
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}
#delete{
    background-color: white;
    color: red;
}
/* ------------------- */
.bot h1{
    font-size: 20px;
}
.bot div{
    display: flex;
}
.bot label{
    display: flex;
    align-items: center;
    border: solid 1px black;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.bot img{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.bot input{
    border: none;
    background-color: white;
    margin: 10px;
}