{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/cart.css">
{% endblock %}


{% block main %}
    <main>
        <section class="section_left">
            <h1>Корзина</h1>
            {% for cart in carts %}
            <section class="product">
                <div class="left">
                    <img src="../static/images/case.jpg" alt="" class="foto">
                    <div>
                        <p>{{cart.name}}</p>
                    </div>
                </div>
                <div class="right">
                    <p class="price">{{cart.price}} &#8381;</p>
                    <div>
                        <label for="like"><img src="../static/images/like.png" alt="" class="img_like"></label>
                        <input type="button" class="like">
                        <label for="carting"><img src="../static/images/mycop.png" alt="" class="img_carting"></label>
                        <input type="button" class="carting">
                    </div>
                </div>
            </section>
            {% endfor %}
            
        <section class="buy">
            <h1 class="text">Условия заказ</h1>
            <h2 class="text">Итого</h2>
            <div class="text">
                <p>{{len_product}} товар</p>
                <p>{{final_price}} &#8381;</p>
            </div>
            <a href="main.html" class="main">Купить</a>
        </section>
    </main>
{% endblock %}