{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/cart.css">
{% endblock %}


{% block main %}
    <main>
        <section class="section_left">
            <h1>Корзина</h1>
            {% for cart in carts %}
            <section class="product">
                <div class="left">
                    <img src="../static/images/case.jpg" alt="" class="foto">
                    <div>
                        <p><a href="{{url_for('product', product_id = cart.id)}}">{{cart.name}}</a></p>
                    </div>
                </div>
                <div class="right">
                    <p class="price">{{cart.price}} &#8381;</p>
                    <div>
                        <form action="" method="POST">
                        <input type="hidden", name="action", value="favorite">
                        <input type="hidden", name="value", value="{{cart.id}}">
                        <button for="like" type="submit" action="favorite" name="favorite" value="{{cart.id}}" class="like"><img src="../static/images/like.png" alt="" class="img_like"></button>
                    </form>
                    <form action="" method="POST">
                        <input type="hidden", name="action", value="cart">
                        <input type="hidden", name="value", value="{{cart.id}}">
                        <button for="carting" type="submit" action="cart" name="cart" value="{{cart.id}}" class="carting"><label for="carting"><img src="../static/images/mycop.png" alt="" class="img_carting"></label></button>
                    </form>
                    </div>
                </div>
            </section>
            {% endfor %}
            
        <section class="buy">
            <h1 class="text">Условия заказ</h1>
            <h2 class="text">Итого</h2>
            <div class="text">
                <p>{{len_product}} товар</p>
                <p>{{final_price}} &#8381;</p>
            </div>
            <a href="{{url_for('main')}}" class="main">Купить</a>
        </section>
    </main>
{% endblock %}