{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/cart.css">
{% endblock %}


{% block main %}
    <main>
        <h1>Корзина</h1>
        <div class="products">
            <img src="../static/images/bananaSEMAXcart.png" alt="" class="bananaSEMAX">
            <p>В корзине пусто</p>
            <a href="main.html" class="main">На галвную</a>
        </div>
    </main>
{% endblock %}