{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/catalog.css">
{% endblock %}


{% block main %}
    <main>
        <section class="Сatalog">
            <h1>Каталог товаров</h1>
            <div class="carts">
                {% for catalog in catalogs %}
                <a href="{{url_for('catalog', catalog_id = catalog.id)}}"><div class="cart1">
                   <img src="{{catalog.description}}" alt="{{catalog.name}}"> 
                    <p class="text">{{catalog.name}}</p>
                </div></a>
                {% endfor %}
            </div>
        </section>
        <section class="category">
            {% if catalog_id %}
            <h1>Подкатегории</h1>
            {% else %}
            <h1>Популярные товары</h1>
            {% endif %}
            <div class="popular">
                {% for second_catalog in second_catalogs %}
                <div class="popular__product">
                    <a href="{{url_for('second_catalog', second_catalog_id = second_catalog.id)}}"><p class="text">{{ second_catalog.name }}</p></a>
                    <div class="popular__inf">
                        <img src="{{ second_catalog.description }}" alt="{{ second_catalog.name }}"> 
                    </div>
                </div>
                {% endfor %}
        </section>
        <!-- <section class="news">
            <h1>Новости Tech group </h1>
            <div class="popular">
                <div class="popular__product">
                    <p class="text">Оперативная память</p>
                    <div class="popular__inf">
                        <div>
                            <p>Оперативная память за миллион</p>
                            <p>Разбираемся почему так дорого</p>
                        </div>
                        <img src="../static/images/images (1).png" alt="стиралка"> 
                    </div>
              </div>
            </div>
        </section> -->
    </main>
{% endblock %}
    