{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/favourites.css">
{% endblock %}


{% block main %}
    <main>
        <h1>Избранное</h1>
        {% for favorite in favorites %}
        <section class="product">
            <div class="left">
                <img src="../static/images/case.jpg" alt="" class="foto">
                <div>
                    <p>{{favorite.name}}</p>
                </div>
            </div>
            <div class="right">
                <p class="price">{{favorite.price}} &#8381;</p>
                <div>
                    <label for="like"><img src="../static/images/like.png" alt="" class="img_like"></label>
                    <input type="button" class="like">
                    <label for="carting"><img src="../static/images/carting.png" alt="" class="img_carting"></label>
                    <input type="button" class="carting">
                </div>
            </div>
        </section>
        {% endfor %}
    </main>
{% endblock %}
