{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/favourites.css">
{% endblock %}


{% block main %}
    <main>
        <h1>Избранное</h1>
        {% for favorite in favorites %}
        <section class="product">
            <div class="left">
                <img src="../static/images/case.jpg" alt="" class="foto">
                <div>
                    <p><a href="{{url_for('product', product_id = favorite.id)}}">{{favorite.name}}</a></p>
                </div>
            </div>
            <div class="right">
                <p class="price">{{favorite.price}} &#8381;</p>
                <div>
                    <form action="" method="POST">
                        <input type="hidden", name="action", value="favorite">
                        <input type="hidden", name="value", value="{{favorite.id}}">
                        <button for="like" type="submit" action="favorite" name="favorite" value="{{favorite.id}}" class="like"><img src="../static/images/like.png" alt="" class="img_like"></button>
                    </form>
                    <form action="" method="POST">
                        <input type="hidden", name="action", value="cart">
                        <input type="hidden", name="value", value="{{favorite.id}}">
                        <button for="carting" type="submit" action="cart" name="cart" value="{{favorite.id}}" class="carting"><img src="../static/images/carting.png" alt="" class="img_carting"></button>
                    </form>
                </div>
            </div>
        </section>
        {% endfor %}
    </main>
{% endblock %}
