<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шаблон</title>
    <link rel="stylesheet" href="../static/style/index.css">
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <header>
        <div>
            <a class="a-logo" href="main.html" name="main-logo"><img class="main-logo" src="../static/images/logo.png" alt=""><p>TECH GROUP</p></a>
            <a class="catalog" href="catalog.html" name="catalog">Каталог</a>
            <label id="label-search" for="search" name="label-search">
                <input type="text" name="input-search" id="search" placeholder="Поиск по сайту" required>
                <input type="input type="button"" class="lupa">
            </label>
        </div>
        <div>
            <a class="a-favourites" href="favourites.html" name="favourites"><img class="favourites" src="../static/images/favourites.png" alt="Избранное"><p>Избранное</p></a>
            <a class="a-cart" href="cart.html" name="cart"><img class="cart" src="../static/images/cart.png" alt="Корзина"><p>Корзина</p></a>
            <a class="a-profil" href="profil.html" name="profil"><img class="profil" src="../static/images/profil.png" alt="Профиль"><p>Профиль</p></a>
        </div>
    </header>
    <main>
        <section class="blocks">
            <a><div class="block1">
                <h2>Каталог</h2>
                <p>Большой выбор<br> техники для<br> дома и вас</p>
            </div></a>
            <a><div class="block1">
                <h2>Акции</h2>
                <p>Скидки,<br> рассрочки,<br> предзаказы</p>
            </div></a>
            <a><div class="block1">
                <h2>Настроить<br> профиль</h2>
                <p>Изменить имя,<br> почту</p>
            </div></a>
            <a><div class="block1">
                <h2>Новости</h2>
                <p>Актуальные<br> новости</p>
            </div></a>
            <a><div class="block1">
                <h2>Банановая<br> поддержка</h2>
                <p>Частые вопросы и<br> полезная<br> информация</p>
            </div></a>
        </section>
        <section class="do">
            <h1>Вы недавно смотрели</h1>
            <div class="carts">
                <div class="cart1">
                    <a href=""><div>
                        <div class="foto"></div>
                        <div class="text"><b>Видеокарта</b> Sapphire AMD Radeon RX 7700 XT NITRO+ [11335-02]</div>
                    </div></a>
                    <div class="many">
                        <input type="button" class="price">
                        <input type="button" class="like">
                        <input type="button" class="cart">
                    </div>
                </div>
                <div class="cart1">
                    <a href=""><div>
                        <div class="foto"></div>
                        <div class="text">Видеокарта</div>
                    </div></a>
                    <div class="many">
                        <input type="button" class="price">
                        <input type="button" class="like">
                        <input type="button" class="cart">
                    </div>
                </div>
                <div class="cart1">
                    <a href=""><div>
                        <div class="foto"></div>
                        <div class="text">Видеокарта</div>
                    </div></a>
                    <div class="many">
                        <input type="button" class="price">
                        <input type="button" class="like">
                        <input type="button" class="cart">
                    </div>
                </div>
                <div class="cart1">
                    <a href=""><div>
                        <div class="foto"></div>
                        <div class="text">Видеокарта</div>
                    </div></a>
                    <div class="many">
                        <input type="button" class="price">
                        <input type="button" class="like">
                        <input type="button" class="cart">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <p>Номер для связи</p>
                <p>+7 (800) 555 35-35</p>
            </div>
            <div>
                <img class="telegram" name="telegram" src="../static/images/telegram.png" alt="">
                <img class="youtube" name="youtube" src="../static/images/youtube.png" alt="">
                <img class="vk" name="vk" src="../static/images/vk.png" alt="">
            </div>
            <div>
                <p>&copy; TECH GROUP</p>
            </div>
        </section>
        <img class="qr-code" name="qr-code" src="../static/images/qr-code.gif" alt="">
    </footer>
</body>
</html>