{% extends 'index.html' %}

{% block title %}
Главная 
{% endblock %}

{% block link_css %} 
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/profil.css">
{% endblock %}


{% block main %}
    <main>
        <section class="top">
            <div class="foto">
                <img src="../static/images/logoprofil.png" alt="">
                <div>
                    <h1>{{get_user.username}}</h1>
                    <p>{{get_user.created_at}}</p>
                </div>
            </div>
            <form action="" method="POST">
            <div class="data">
                <input type="hidden", name="action", value="change">
                <label for="name">
                    <input type="text" id="name" placeholder="Имя", value="{{get_user.first_name}}", name="first_name">
                </label>
                <label for="nickname">
                    <input type="text" id="nickname" placeholder="Ник", value="{{get_user.username}}", name="username">
                </label>
                <label for="tel">
                    <input type="tel" id="tel" placeholder="Телефон", value="{{get_user.phone}}", name="phone">
                </label>
                <label for="email">
                    <input type="email" id="email" placeholder="Электронная почта", value="{{get_user.email}}", name="email">
                </label>
                
            </div>
            <div class="button">
                <div>
                    
                    <input id="save", action="change" type="submit" value="Сохранить">
                    </form>
                    <input type="hidden", name="action", value="logout">
                    <form action="logout" method="POST">
                    <input id="exit", action="logout" type="submit" value="Выйти">
                    </form>
                </div>
                <form action="" method="POST">
                <input type="hidden", name="action", value="delete">
                <input id="delete" type="submit" value="Удалить профиль">
                </form>
            </div>
            
        </section>
        <section class="bot">
            <h1>Спопсобы оплаты</h1>
            <div>
                <label for="sber">
                    <img src="../static/images/sber.png" alt="">
                    <input id="sber" type="button" value="Сбер">
                </label>
                <label for="t">
                    <img src="../static/images/t.png" alt="">
                    <input id="t" type="button" value="Т-банк">
                </label>
                <label for="yandex">
                    <img src="../static/images/yandex.jpg" alt="">
                    <input id="yandex" type="button" value="Яндекс">
                </label>
            </div>
        </section>
    </main>
{% endblock %}